body {
  background-color: #222;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

.guide {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}
.guide p {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 500;
}

.box {
  width: 100px;
  height: 100px;
  background: lightcoral;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:nth-of-type(2) {
  background: lightskyblue;
}
.box:nth-of-type(3) {
  background: lightseagreen;
}
.box:nth-of-type(4) {
  background: lightsalmon;
}
.box:nth-of-type(5) {
  background: lightslategray;
}
.box:nth-of-type(6) {
  background: lightsteelblue;
}
.tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.tab span {
  padding: 5px 10px;
  border: 2px solid #0474ea;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 2px;
}
.tab span.on {
  background: #0474ea;
  color: #fff;
}
.code {
  margin-top: 10px;
  border-top: 4px solid #ddd;
  font-size: 13px;
}

/* =====================================
===================================== */

.wrapper {
  display: flex;
}

.wrapper.type02 {
  height: 100px;
  justify-content: center;
}
.wrapper.type02 .box {
  height: auto;
}
.wrapper.type04 {
  height: 200px;
  justify-content: space-between;
}
.wrapper.type04 .box:nth-of-type(2) {
  align-self: center;
}
.wrapper.type04 .box:nth-of-type(3) {
  align-self: flex-end;
}
.wrapper.type05 {
  justify-content: space-between;
}
.wrapper.type05 .box:nth-of-type(1) {
  order: 2;
}
.wrapper.type05 .box:nth-of-type(3) {
  order: -1;
}
.wrapper.type05 .box:nth-of-type(4) {
  order: 1;
}
.wrapper.type07 {
  height: 400px;
  flex-wrap: wrap;
}
.wrapper.type07 .box {
  width: 25%;
}
.wrapper.type08 .box {
  width: 200px;
}
.wrapper.type08 .box:nth-of-type(1) {
  flex-shrink: 3;
}
.wrapper.type09 .box {
  width: 100px;
}
.wrapper.type09 .box:nth-of-type(2) {
  flex-grow: 2;
}

.wrapper.type10 .box:nth-of-type(2) {
  flex-basis: 300px;
}

/* =====================================
===================================== */
.father {
  display: grid;
  text-align: center;
}

.child {
  background: peru;
  color: white;
  font-size: 30px;
}
.child:nth-of-type(1) {
  background-color: #2ecc71;
}
.child:nth-of-type(2) {
  background-color: #3498db;
}
.child:nth-of-type(3) {
  background-color: #632ecc;
}
.child:nth-of-type(4) {
  background-color: #cc872e;
}
.father .header {
  grid-area: header;
}
.father .content {
  grid-area: content;
}
.father .nav {
  grid-area: nav;
}
.father .footer {
  grid-area: footer;
}

.father.type01 {
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 100px 150px 200px;
  column-gap: 5px;
  row-gap: 20px;
}
.father.type02 {
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 50px repeat(2, 200px) 50px;
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}

.father.type03 {
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}
.father.type03 .header2 {
  grid-column: span 4;
}
.father.type03 .content2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.father.type03 .nav2 {
  grid-row-start: 2;
  grid-row-end: 4;
}
.father.type03 .footer2 {
  grid-column: 1/-1;
}

.father.type04 {
  gap: 5px;
  height: 50vh;
  grid-template:
    [header-start] "header header header header " 1fr [header-end]
    [content-start] "content content content nav" 2fr [content-end]
    [footer-start] "footer footer footer footer " 1fr [footer-end];
}
.father.type04 .header3 {
  grid-area: header;
}
.father.type04 .content3 {
  grid-area: content;
}
.father.type04 .nav3 {
  grid-area: nav;
}
.father.type04 .footer3 {
  grid-area: footer;
}

.father.type05 {
  height: 50vh;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center end;
}
